@import "tailwindcss";


@theme {

  --font-family: "Inter", sans-serif;
  --color-primary: oklch(0.8 0.15 240);
}

 body{
    @apply bg-[#090d19] p-5;
    @apply text-[#f0f4ef];
    @apply font-sans;
 }

 .leaflet-control-attribution{
   display: none !important;
 }

 .text-shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.61);
}
/* Custom CSS for carousel transitions */
.carousel-item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out !important;
  transform: translateX(100%) !important;
  opacity: 0 !important;
}
.carousel-item.active {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.carousel-item.prev {
  transform: translateX(-100%) !important;
  opacity: 0 !important;
}


  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

