@import "tailwindcss";

@theme {

  --font-family: "Inter", sans-serif;
  --color-primary: oklch(0.8 0.15 240);
}

 body{
    @apply bg-[#090d19] p-5;
    @apply text-[#f0f4ef];
    @apply font-sans;
 }

 .leaflet-control-attribution{
   display: none !important;
 }

 .text-shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.61);
}